include LICENSE
include README.md
include requirements.txt
include environment.yml

recursive-include src/causal_mm *.py
recursive-include src/causal_mm/gui *
recursive-include examples *.py *.json

prune data
prune temp
prune results
prune specs
prune docs
prune scripts
prune .conda
